---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="404 Not Found">
  <main
    class="bg-[#798672] text-white flex flex-col items-center justify-center h-screen"
  >
    <img
      src="/Dra. Pamela especialista en cirugia de cabeza cuello y otorrinolaringologia.png"
      class="mb-4"
    />
    <p class="text-xl">Lo sentimos, la página que estás buscando no existe.</p>
    <a
      href="/"
      class="mt-6 text-white px-8 border border-white py-2 rounded-md hover:bg-white hover:text-[#798672]"
      >Volver a la página de inicio</a
    >
  </main>
</Layout>
