---
import "@fontsource/prata";
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import { Image } from "astro:assets";
import AboutImage from "@assets/about_image.png";
import Fondo from "@assets/background_image4.png";
import Fondo2 from "@assets/background_image5.png";
import Fondo3 from "@assets/background_image6.png";
---

<section class="bg-white flex justify-center">
  <div class="gap-4 grid grid-cols-1 md:grid-cols-2 pt-12">
    <div>
      <Image
        src={AboutImage}
        title="Dra Pamela Perez"
        alt="Dra Pamela Perez"
        class="flex justify-center items-center"
      />
      <Image
        src={Fondo}
        title="Dra Pamela Perez"
        alt="Dra Pamela Perez"
        class="absolute top-[700px] left-0 hidden md:inline-block"
      />
      <Image
        src={Fondo2}
        title="Dra Pamela Perez"
        alt="Dra Pamela Perez"
        class="absolute top-[700px] right-0 hidden md:inline-block"
      />
      <Image
        src={Fondo3}
        title="Dra Pamela Perez"
        alt="Dra Pamela Perez"
        class="absolute top-[1300px] left-0 hidden md:inline-block"
      />
    </div>
    <div class="md:w-[500px] px-4 md:px-0 text-justify">
      <h1
        class="text-[#798672] text-center md:text-start text-3xl md:text-5xl font-prata"
      >
        Dra. Pamela Perez
      </h1>
      <h2 class="font-poppins font-medium text-[#AA9170] text-lg mb-4">
        Resultados que transforman tu imagen de manera natural.
      </h2>
      <h3 class="mb-4 font-poppins font-light">
        ¿Sueñas con una nariz que refleje tu verdadera belleza?
      </h3>
      <h3 class="mb-4">
        Descubre una nueva dimensión de belleza y bienestar con la Dra. Pamela
        Pérez, experta en cirugía facial y otorrinolaringología.
      </h3>
      <h3 class="mb-4 font-poppins font-light">
        Con una trayectoria dedicada a la cirugía facial y la
        otorrinolaringología, la Dra. Pamela Pérez se ha destacado por su
        enfoque cuidadoso y personalizado. Más allá de su experiencia técnica,
        la Dra. Pérez se destaca por su compromiso con la transformación que va
        más allá de la superficie. Cada paciente es recibido con empatía y
        atención individualizada, garantizando que sus necesidades y deseos
        estén en el centro de cada procedimiento.
      </h3>
      <h3 class="mb-8 font-poppins font-light">
        Descubre una nueva dimensión de belleza y bienestar.. Tu viaje hacia una
        imagen rejuvenecida y una salud óptima comienza aquí.
      </h3>
      <h3 class="mb-4 font-poppins font-light">
        Con un enfoque integral en la cirugía facial y otorrinolaringología,
        nuestra misión es ofrecer resultados que no solo resalten tu belleza,
        sino que también mejoren tu bienestar general.
      </h3>
      <h3 class="mb-4 font-poppins font-light">
        Nos dedicamos a fusionar la precisión técnica con el arte de la cirugía
        para brindarte una experiencia transformadora única.
      </h3>
      <h3 class="mb-4 font-poppins font-light">
        Somos la excelencia en cirugía facial y otorrinolaringología, donde la
        precisión se combina con el arte para resaltar tu auténtica belleza.
      </h3>
    </div>
  </div>
</section>

<style>
  .font-prata {
    font-family: "Prata", serif;
  }
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
</style>
