---
import banner from "@assets/banner.png"
import { Image } from "astro:assets"
---

<section>
  <Image src={banner} class="w-screen md:h-auto h-48 object-cover" title=hero-image alt="hero-image" />
</section>
