---
import { Image } from "astro:assets";
import banner from "@assets/Ejecucion precisa de una operacion de nariz realizada por la Doctora Pamela Perez.png";
---

<section class="relative z-10">
  <Image src={banner} class="w-screen md:h-auto h-48 object-cover" alt="" />
  <a
    href="/appointment"
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-[#798672] text-white px-4 rounded-2xl py-2 font-semibold font-poppins text-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out hover:bg-[#6a6a6a]"
    >Agenda ahora</a
  >
</section>
