---
import banner from "@assets/Ejecucion precisa de una operacion de nariz realizada por la Doctora Pamela Perez.png";
import { Image } from "astro:assets";
---

<section>
  <Image
    src={banner}
    class="w-screen md:h-auto h-48 object-cover"
    title="La precisión en una operación de nariz logra un equilibro perfecto entre estética y función, en manos de la Doctora Pamela "
    alt="La precisión en una operación de nariz logra un equilibro perfecto entre estética y función, en manos de la Doctora Pamela "
  />
</section>
