---
import "@fontsource/prata";
import "@fontsource/poppins";
import { Image } from "astro:assets";
import mail from "@assets/mail.svg";
import phone from  "@assets/phone.svg";
---

<section class="flex justify-center items-center flex-col my-12">
  <h1 class="text-[#798672] font-prata font-normal text-3xl md:text-6xl mb-4 px-4" >
    Déjame un mensaje
  </h1>
  <h2 class="text-[#AA9170] font-poppins font-medium text-lg md:text-xl mb-8 px-12 md:px-4">
    Me gusta recibir mensaje de mis pacientes. Contestare lo más pronto posible.
  </h2>
  <form action="" class="flex flex-col">
    <input
      type="text"
      class="border border-[#9C9C9C] px-4 py-2 rounded-md focus:outline-none mb-2 md:w-[600px]"
      placeholder="Nombre"
    />
    <div class="flex flex-col md:flex-row md:space-x-2">
      <input
        type="email"
        class="border border-[#9C9C9C] focus:outline-none px-4 py-2 rounded-md mb-2  md:w-[290px]"
        placeholder="Correo electrónico"
      />
      <input
        type="tel"
        class="border focus:outline-none border-[#9C9C9C] px-4 py-2 rounded-md mb-2  md:w-[300px]"
        placeholder="Teléfono"
      />
    </div>
    <textarea
      class="border focus:outline-none border-[#9C9C9C] px-4 py-2 rounded-md mb-2"
      placeholder="Mensaje"></textarea>
    <div class="flex justify-center items-center my-6">
      <button class="bg-[#798672] px-12 rounded-2xl text-white py-2"
        >Enviar</button
      >
    </div>
    <hr class="bg-[#9C9C9C]">
  </form>
  <div class="font-poppins font-light flex flex-col md:flex-row gap-8 my-12">
    <div class="flex gap-2 items-center">
        <Image title="mail-icon" src={mail} class="size-8" alt="mail-icon"/>
        <h1 class="font-poppins font-light">pacientes@doctorapamelaperez.com</h1>
    </div>
    <div class="flex items-center justify-center">
        <Image src={phone} title="phone-icon"  class="size-8" alt="phone-icon"/>
        <span class="font-poppins font-light ">664 446 8960</span>
    </div>
  </div>
</section>

<style>
  .font-prata {
    font-family: "Prata", serif;
  }
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
</style>
