---
import { Image } from "astro:assets";
import mail from "@assets/Escribenos en pacientes@doctorapamelaperez.com  tus inquietudes dudas y consultas.svg";
import phone from "@assets/Agenda tu consulta con la Dra. Pamela  al 664 446 8960.svg";
---

<section class="flex justify-center items-center flex-col my-12">
  <div class="font-poppins font-light flex flex-col md:flex-row gap-8 my-12">
    <div class="flex gap-2 items-center">
      <Image
        title="Compártenos todas tus inquietudes, al correo pacientes@doctorapamelaperez.com dudas o consultas para que la doctora Pamela con gusto te apoye a resolverlas. "
        src={mail}
        class="size-8"
        alt="Compártenos todas tus inquietudes, al correo pacientes@doctorapamelaperez.com dudas o consultas para que la doctora Pamela con gusto te apoye a resolverlas."
      />
      <h1 class="font-poppins font-light">pacientes@doctorapamelaperez.com</h1>
    </div>
    <div class="flex items-center justify-center">
      <Image src={phone} title="phone-icon" class="size-8" alt="phone-icon" />
      <span class="font-poppins font-light">+52 (663) 439-5024</span>
    </div>
  </div>
</section>
