---
import { Image } from "astro:assets";
import logo from "@assets/Dra. Pamela especialista en cirugia de cabeza cuello y otorrinolaringologia.png";
---

<footer class="bg-[#798672]">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div
      class="flex justify-center items-center flex-col md:justify-between md:flex-row gap-8 md:gap-2"
    >
      <Image
        title="La Doctora Pamela garantiza procedimientos con enfoque integral en la cirugía facial y otorrinolaringología "
        src={logo}
        alt="La Doctora Pamela garantiza procedimientos con enfoque integral en la cirugía facial y otorrinolaringología "
      />
      <ul
        class="flex flex-col md:flex-row items-center mb-6 text-xl font-medium text-white gap-3"
      >
        <li>
          <a href="/" class="hover:underline me-4 md:me-6 font-italiana"
            >Inicio</a
          >
        </li>
        <li>
          <a
            href="/gallery"
            title="Dra. Pamela Perez | Galeria de Servicios"
            class="hover:underline me-4 md:me-6 font-italiana">Galeria</a
          >
        </li>
        <li>
          <a
            href="/services"
            title="Dra. Pamela Perez | Servicios"
            class="hover:underline me-4 md:me-6 font-italiana">Servicios</a
          >
        </li>
        <li>
          <a
            href="/blog"
            title="Dra. Pamela Perez | Blog"
            class="hover:underline me-4 md:me-6 font-italiana">Blog</a
          >
        </li>
        <li>
          <a
            href="/appointment"
            title="Dra. Pamela Perez | Agendar cita"
            class="hover:underline me-4 md:me-6 font-italiana">Agendar cita</a
          >
        </li>
      </ul>
    </div>
    <div class="py-8">
      <hr />
      <p class="text-center text-white text-2xl mt-8 font-italiana">
        Todos los derechos reservados por Dra. Pamela Perez 2024 ©.
        <a
          class="hover:underline"
          href="http://www.doctorapamelaperez.com/"
          title="Dra. Pamela Perez | Personalización Absoluta"
          >doctorapamelaperez.com</a
        >
        {" "} está desarrollado por
        <a
          class="hover:underline"
          href="https://ecommetrica.com/"
          title="Ecommetrica | eCommerce meticulously appraised."
        >
          ecommetrica.com
        </a>
      </p>
    </div>
  </div>
</footer>
