---
import "@fontsource/italiana";
import "@fontsource/poiret-one";
---

<header class="bg-[#798672] text-white">
  <span class="flex justify-center md:justify-end px-0 md:px-24 py-4"
    >Mn - St: 8:00am - 9:00pm Sn: Closed</span
  >
  <nav class="hidden md:block">
    <ul
      class="flex justify-between items-center [&>a]:text-2xl font-medium text-xl px-24"
    >
      <li><img src="/logo_nav.png" alt="" /></li>
      <!-- <li><a href="/">Home</a></li>
      <li><a href="/">Contact</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/">Gallery</a></li>
      <li><a href="/">Service</a></li>
      <li><a href="/">Appointment</a></li> -->
      <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://wa.me/+526644468960/?text=Quiero obtener mas información sobre sus servicios."
     >
        <li class="flex items-center gap-2"><img src="/whatsapp.svg" alt="" />WhatsApp</li>
      </a>
    </ul>
  </nav>
  <section
    class="text-justify w-screen items-center md:px-0 flex flex-col md:flex-row"
  >
    <div class="flex-col flex px-2 md:px-24">
      <span
        class="font-italiana text-2xl text-center md:text-start md:text-8xl"
      >
        RINOPLASTIA</span
      >
      <span class="font-poiret text-2xl mb-4 md:text-6xl"
        >Personalización absoluta. </span
      >
      <span class="font-poiret text-md md:text-2xl"
        >Redefine la armonía de tu rostro, resalta tu singularidad con un aspecto natural. Refinamiento  del perfil y armonización estética del conjunto nasal. </span
      >
    </div>
    <div>
      <img src="/image_hero.png" alt="" />
    </div>
  </section>
</header>

<style>
  .font-italiana {
    font-family: "Italiana", serif;
  }
  .font-poiret {
    font-family: "Poiret One", cursive;
  }
</style>
