---
import Medical from "@components/icons/serviceIcon";
const services = [
  {
    id: 1,
    title: "Rinoseptumplastia O Rinoplastia",
    description:
      "Cirugía de corrección de problemas nasales tanto funcionales como estéticos o cosméticos.",
  },
  {
    id: 2,
    title: "Blefaroplastia",
    description:
      "Cirugía de corrección de párpados superiores o inferiores por exceso de piel o grasa.",
  },
  {
    id: 3,
    title: "Liposuccion De Cuello Y Papada",
    description:
      "Cirugía de extracción de grasa localizada en el cuello y papada.",
  },
  {
    id: 4,
    title: "Mentoplastia",
    description:
      "Cirugía de colocación de implante en mentón para su aumento definitivo.",
  },
  {
    id: 5,
    title: "Bichectomia",
    description:
      "Extracción quirúrgica de las bolsas de bichat para redefinir el rostro.",
  },
  {
    id: 6,
    title: "Otoplastia",
    description:
      "Cirugía de orejas para corrección de deformidades o alteraciones.",
  },
  {
    id: 7,
    title: "Levantamiento De Temporal",
    description:
      "Cirugía de lifting de tercio medio para rejuvenecimiento facial si cicatrices visibles.",
  },
  {
    id: 8,
    title: "Levantamiento De Cejas",
    description: "Cirugía de corrección de altura de cejas.",
  },
  {
    id: 9,
    title: "Levantamiento De Labio",
    description:
      "Cirugía para rejuvenecimiento de labios también llamada bullhorn lip lift.",
  },
  {
    id: 10,
    title: "Meloplastia",
    description: "Resección de mucosa bucal para redefinir rostro.",
  },
  {
    id: 11,
    title: "Aplicacion De Botox",
    description:
      "Toxina botulínica que relaja la musculatura lo que da una relajación de las líneas de la expresión facial.",
  },
  {
    id: 12,
    title: "Acido Hialuronico En Labios",
    description:
      "Colocación para su aumento o definición, así como corrección de asimetrías visibles.",
  },
  {
    id: 13,
    title: "Armonizacion Facial",
    description:
      "Aplicación de ácido hialurónico o grasa en áreas que carecen de volumen para lograr las proporciones faciales ideales o más armónicas.",
  },
  {
    id: 14,
    title: "Perfilamiento Mandibular",
    description:
      "Colocación de ácido hialurónico o hidroxiapatita de calcio en mandíbula para su definición.",
  },
  {
    id: 15,
    title: "Acido Hialuronico En Pomulos",
    description:
      "Colocación para lograr elevar pómulo o evitar signos de envejecimiento.",
  },
  {
    id: 16,
    title: "Dermapen",
    description:
      "Micro agujas que penetran la piel logrando una luminosidad al rostro.",
  },
  {
    id: 17,
    title: "Tratamiento En Ojeras",
    description:
      "Colocación de NCTF por mesoterapia para lograr disminuir coloración y mejorar la transición del párpado.",
  },
  {
    id: 18,
    title: "Valoracion De Consulta De Otorrinolaringologia",
    description: "",
  },
  {
    id: 19,
    title: "Injerto Con Grasa O Transferencia En Rostro",
    description:
      "Para redefinir los sitios de pérdida de grasa o mejorar las proporciones faciales.",
  },
];

const { serviceName } = Astro.props;

const currentService = services.find((s) => s.title === serviceName);

if (!currentService) {
  throw new Error(`No service found with name: ${serviceName}`);
}
---

<main class="font-poppins px-4">
  <section class="py-16 grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="col-span-2 w-[700px] mx-auto animate-pulse">
      <div
        class="flex items-center justify-center mx-auto w-[700px] h-96 bg-gray-200 rounded mb-4"
      >
        <svg
          class="w-10 h-10 text-gray-400"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 18"
        >
          <path
            d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
          ></path>
        </svg>
      </div>
      <div class="px-4 md:px-0">
        <div class="gap-2 mb-6 flex items-center">
          <Medical />
          <h2 class="text-[#798672] text-3xl font-bold">
            Servicio: {currentService.title}
          </h2>
        </div>
        <hr class="w-full border-[#798672] border-2 mb-6" />
        <h1 class="mb-2 text-3xl text-[#798672] font-bold">
          Descripcion sobre este servicio:
        </h1>
        <h2 class="text-2xl text-start mb-2">
          {
            currentService.description
              ? currentService.description
              : "Descripcion no disponible para este servicio."
          }
        </h2>
        <h1 class="mb-2 text-3xl text-[#798672] font-bold">Como trabajamos:</h1>
        <h2 class="text-2xl text-start mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
          aliquid animi laboriosam voluptatum rem sed tenetur reiciendis atque
          eligendi ullam, similique minus, alias corrupti dignissimos porro
          ipsam nostrum velit? Quibusdam itaque adipisci ad atque fugiat!
        </h2>
      </div>
    </div>

    <aside
      class="hidden md:block col-span-1 bg-[#F8F9FC] border-[#798672] border-2 font-poppins"
    >
      <h1
        class="text-center py-2 font-bold font-poppins uppercase text-[#798672]"
      >
        Servicios
      </h1>
      <hr class="border-[#798672] w-full border-1" />
      <ul>
        {
          services.map((service) => (
            <li class="mb-2 relative">
              <a
                class={`font-medium block py-1 w-full text-center group relative ${currentService.title === service.title ? "bg-[#798672] text-white" : ""}`}
                href={`/services/${service.title.toLowerCase().replace(/ /g, "_")}`}
                style="z-index: 1;"
              >
                <div
                  class="absolute inset-0 bg-[#798672] transform scale-x-0 group-hover:scale-x-100 origin-left transition-transform duration-500 ease-in-out"
                  style="z-index: -1;"
                />
                <span class="group-hover:text-white">{service.title}</span>
              </a>
            </li>
          ))
        }
        <li class="mb-2 relative">
          <a
            class="font-medium block py-1 w-full text-center group relative"
            href="/services"
            style="z-index: 1;"
          >
            <div
              class="absolute inset-0 bg-[#798672] transform scale-x-0 group-hover:scale-x-100 origin-left transition-transform duration-500 ease-in-out"
              style="z-index: -1;"
            >
            </div>
            <span class="group-hover:text-white">Regresar a los servicios</span>
          </a>
        </li>
      </ul>
    </aside>
  </section>
</main>
