---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/UI/Hero.astro";
import Navbar from "@components/UI/Navbar.astro";
import Service from "@components/UI/react/Service";
import Footer from "@components/UI/Footer.astro";

changeLanguage("en");
---

<Layout title="Servicios">
  <Navbar />
  <Hero className="bg-[#798672] h-64 flex justify-center items-center">
    <h1 class="text-center text-white text-7xl font-prata">Servicios</h1>
  </Hero>
  <Service client:load />
  <Footer />
</Layout>
