#macbook {
  margin: 50px;
}

#macbook #top {
  margin: 0 auto;
  border: 4px solid #bbb;
  border-bottom: none;
  width: 600px;
  height: 350px;
  border-radius: 15px 15px 0px 0px;
  background: #222;
}

#macbook #top #camera {
  margin: 8px auto 0 auto;
  border-radius: 50%;
  background: #111;
  width: 5px;
  height: 5px;
}

#macbook #top #screen {
  position: relative;
  top: 7px;
  left: 15px;
  width: 560px;
  height: 320px;
  border-radius: 5px 5px 0px 0px;
  background: #333;
}

#macbook #keyboard {
  margin: 0 auto;
  width: 750px;
  height: 20px;
  background: #d1d1d1;
  border-radius: 0px 0px 24px 24px;
  border: #a0a0a0 1px solid;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
}

#macbook #keyboard #top-shade {
  top: 0;
  margin: 0 auto;
  width: 150px;
  height: 8px;
  background: #757575;
  border-radius: 0 0 10px 10px;
  border: #a0a0a0 1px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
