/* Contenedor principal */
#macbook {
  margin: 50px auto;
  max-width: 95%;
}

/* Parte superior (pantalla) */
#macbook #top {
  margin: 0 auto;
  border: 4px solid #bbb;
  border-bottom: none;
  width: 100%;
  max-width: 700px;
  aspect-ratio: 16 / 9;
  border-radius: 15px 15px 0px 0px;
  background: #222;
}

/* Cámara */
#macbook #top #camera {
  margin: 8px auto 0 auto;
  border-radius: 50%;
  background: #111;
  width: 5px;
  height: 5px;
}

/* Pantalla interior */
#macbook #top #screen {
  position: relative;
  top: -5px;
  left: 2%;
  width: 96%;
  height: 90%;
  border-radius: 5px 5px 0px 0px;
  background: #333;
}

/* Teclado (más ancho que la pantalla) */
#macbook #keyboard {
  margin: 0 auto;
  width: 100%;
  max-width: 850px; /* más ancho que la pantalla */
  height: 24px;
  background: #d1d1d1;
  border-radius: 0px 0px 24px 24px;
  border: #a0a0a0 1px solid;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

/* Sombra del teclado (parte superior) */
#macbook #keyboard #top-shade {
  margin: 0 auto;
  width: 20%;
  max-width: 150px;
  height: 8px;
  background: #757575;
  border-radius: 0 0 10px 10px;
  border: #a0a0a0 1px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive para pantallas pequeñas */
@media (max-width: 600px) {
  #macbook {
    margin: 30px auto;
  }

  #macbook #top {
    max-width: 95%;
  }

  #macbook #keyboard {
    max-width: 100%;
    height: 20px;
  }

  #macbook #keyboard #top-shade {
    width: 80px;
    height: 6px;
  }

  #macbook #top #screen {
    top: -3px;
    width: 96%;
    height: 88%;
  }
}
