---
import { Image } from "astro:assets";
import logo from "@assets/Dra. Pamela especialista en cirugia de cabeza cuello y otorrinolaringologia.png";
import whatsApp from "@assets/Contactanos via WhatsApp para agendar con la Doctora Pamela.svg";
import i18next, { t } from "i18next";
---

<main class="bg-[#798672] text-white" lang={i18next.language}>
  <span class="flex justify-center md:justify-end px-0 md:px-24 py-4"
    >{t("nav.title")}</span
  >
  <nav class="hidden md:block">
    <ul
      class="flex justify-between items-center [&>a]:text-2xl font-medium text-xl px-24"
    >
      <li>
        <a href="/" title="Doctora pamela | Personalización Absoluta">
          <Image
            title="La Doctora Pamela garantiza procedimientos con enfoque integral en la cirugía facial y otorrinolaringología "
            src={logo}
            alt="La Doctora Pamela garantiza procedimientos con enfoque integral en la cirugía facial y otorrinolaringología "
          />
        </a>
      </li>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://wa.me/+526644468960/?text=Quiero obtener mas información sobre sus servicios."
        title="Dra Pamela | Contacto vía WhatsApp"
      >
        <li class="flex items-center gap-2">
          <Image
            src={whatsApp}
            title="whatsapp-icon"
            alt="whatsapp-icon"
          />WhatsApp
        </li>
      </a>
    </ul>
  </nav>
</main>
